@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

[data-theme="light"] { color-scheme: light; }
[data-theme="dark"]  { color-scheme: dark; }

body {
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.hero {
  max-height: 600px;
  background-position: center center;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
