@import "tailwindcss";
@plugin "daisyui";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.skills {
  list-style-type: none;
  padding-left: 0;
}
.skills li {
  display: inline-block;
  margin: 4px;
  padding: 6px 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
.interests {
  list-style-type: none;
  padding-left: 0;
}
.interests li {
  display: inline-block;
  margin: 4px;
  padding: 6px 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
.industries {
  list-style-type: none;
  padding-left: 0;
}
.industries li {
  display: inline-block;
  margin: 4px;
  padding: 6px 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
.experience {
  margin: 4px;
  margin-bottom: 20px;
  padding: 6px 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
.education {
  display: inline-block;
  border-radius: 8px;
  padding: 0px 0px;
  max-width: 350px;

}
.certifications {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;


  width: 220px;
  height: 220px;
  margin: 8px;
  padding: 20px;

  background: #000000;
  border-radius: 16px;
  border: 1px solid grey;




  cursor: pointer;
}

.certifications:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}



button {
  margin: 4px;
}
button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.hero {
  max-height: 600px;
  background-position: center center;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
